/* general */

html {
  font-size: 100%;
  font-family: $font-arpona;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background: $lightblue;
  color: $blue;
  line-height: 1.4;
  text-align: center;
}

body {
  margin: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  @include sm {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  @include md {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  @include lg {
    padding-left: 9rem;
    padding-right: 9rem;
  }
}
/* images */
img,
svg {
  width: 100%;
  height: auto;
}
figure {
  margin: 0;
}
/* titles & lists */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1,
h2 {
  font-family: $font-adelle;
  font-weight: 700;
  line-height: 1.2;
}
h1 {
  font-size: 2rem;
  @include md {
    font-size: 3.5rem;
  }
}
h2 {
  font-size: 1.4rem;
  @include md {
    font-size: 2rem;
  }
}
h3 {
  font-weight: 400;
}
h4 {
  font-weight: 700;
  font-size: 1.2rem;
}
ul,
li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding-bottom: 1rem;
}

/* links & forms */

a,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

input,
textarea {
  display: block;
  background: white;
  box-shadow: 0 3px 6px rgba(44, 44, 44, 0.15);
  width: 100%;
  border: 2px solid white;
  outline: 0;
  transition: 0.2s;
  border-radius: $radius;
  margin-bottom: 1rem;
  &:focus {
    border: 2px solid $blue;
  }
}

button {
  background: $orange;
  color: white;
  font-family: $font-arpona;
  font-weight: 700;
  font-size: 1em;
  border: none;
  outline: none;
  border-radius: $radius;
  box-shadow: 0 10px 20px rgba($blue, 0.25);
  padding: 1rem 2rem;
  cursor: pointer;
  text-shadow: 0 3px 5px darken($orange, 15%);
  transition: 0.5s;
  &:hover {
    background: darken($orange, 5%);
    box-shadow: 0 0px 30px rgba($blue, 0.25);
  }
}

/* Section background */

section  {
  background: url(../img/bg-section.svg) center / 100% auto no-repeat;
}
