@mixin flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin justify-content($val) {
  -webkit-justify-content: $val;
  -ms-justify-content: $val;
  justify-content: $val;
}
@mixin align-items($val) {
  -webkit-align-items: $val;
  -ms-align-items: $val;
  align-items: $val;
}
@mixin flex-wrap($val) {
  -webkit-flex-wrap: $val;
  -ms-flex-wrap: $val;
  flex-wrap: $val;
}

@mixin sm {
  @media (min-width: #{$screen-small}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-medium}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-large}) {
    @content;
  }
}

@mixin translateX($percent) {
  -webkit-transform: translateX($percent);
  -ms-transform: translateX($percent);
  transform: translateX($percent);
}
@mixin translateY($percent) {
  -webkit-transform: translateY($percent);
  -ms-transform: translateY($percent);
  transform: translateY($percent);
}
