/* fonts */
$font-adelle: adelle-sans, sans-serif;
$font-arpona: arponasans, sans-serif;

/* colors */
$lightblue: #f7f8ff;
$blue: #3446a9;
$orange: #fd918a;

/* breakpoints */
$screen-small: 43rem;
$screen-medium: 62rem;
$screen-large: 82rem;

/* sizes */
$max: 900px;
$max-smaller: 750px;
$max-larger: 1000px;
$radius: 0.75rem;
