.footer {
  position: relative;
  background: url(../img/footer-top.svg) right top / 20% no-repeat,
    url(../img/footer-bottom.svg) left bottom / 30% no-repeat, $blue;
  color: white;
  overflow: auto;
  & > a {
    z-index: 100;
    position: absolute;
    top: 4rem;
    left: 3rem;
    @include translateY(-50%);
    @include md {
      left: 6rem;
    }
    button {
      padding: 0.8rem 0.7rem 0.4rem;
    }
    img {
      width: 2rem;
    }
  }
  .footer__contact {
    overflow: hidden;
    border-radius: $radius;
    position: relative;
    background: lighten($blue, 15%);
    padding: 2rem;
    margin: 4rem 2rem;
    width: calc(100% - 4rem);
    @include flex;
    @include justify-content(space-between);
    @include align-items(center);
    @include flex-wrap(wrap);
    @include md {
      padding: 4rem;
      margin: 4rem 4rem 2rem 4rem;
      width: calc(100% - 8rem);
    }
    .footer__contact__blurry {
      position: absolute;
      pointer-events: none;
      width: 100%;
      height: 100%;
      background: url(../img/footer-top.svg) right top / 20% no-repeat,
        url(../img/footer-bottom.svg) left bottom / 30% no-repeat;
      -webkit-filter: blur(30px);
      filter: blur(30px);
      top: -4rem;
      left: -2rem;
      @include md {
        top: -4rem;
        left: -4rem;
      }
    }

    header,
    form {
      font-size: 0.9rem;
      position: relative;
      width: 100%;
      text-align: left;
      @include md {
        width: 50%;
      }
    }
    header {
      margin-bottom: 4rem;
      @include md {
        padding-right: 8rem;
        margin-bottom: 0;
      }
      h2 {
        margin: 1rem 0;
        font-weight: 400;
        font-size: 2rem;
        @include md {
          font-size: 3rem;
        }
      }
    }
    form {
      label {
        display: inline-block;
        margin-bottom: 0.5rem;
      }
    }
  }
  .footer__copyright {
    img {
      width: 100px;
    }
    p {
      font-size: 0.8rem;
    }
  }
}
